# Seedream CLI Environment
ACEDATACLOUD_API_TOKEN=your_api_token_here
# ACEDATACLOUD_API_BASE_URL=https://api.acedata.cloud
# SEEDREAM_DEFAULT_MODEL=doubao-seedream-4-0-250828
# SEEDREAM_REQUEST_TIMEOUT=1800
